extends layout
block content
    
    
    div.form_container_add       

        form.form(action="/update", method="POST") 
            .intro
                img(src="", alt="")
                h6 Update #{query.firstName} #{query.surname}
            div.content1 
                img(src="/images/1.svg", alt="" width="80px")
                //- br
                //- br
                //- label.label(for="file_number") File number
                //- br       
                //- br   
                //- input.input(type="text" name="file_number" placeholder="file number" required="required")
                br
                br
                label.label(for="surname") Surname
                br
                br
                input.input(type="text" name="surname" placeholder=`${query.surname}` value=`${query.surname}`)
                br
                br

                label.label(for="surname") First Name
                br
                br
                input.input(type="text" name="firstname" placeholder=`${query.firstName}` value=`${query.firstName}`)
                br
                br
        
                label.label(for="phone") Phone Number
                br
                br
                input.input(type="text" name="phone" placeholder=`${query.phoneNumber}` value=`${query.phoneNumber}`)
                br
                br         
                label.label(for="address") Address
                br
                br
                input.input(type="text" name="address" placeholder=`${query.address}` value=`${query.address}`)

    

            div.content2
                img(src="/images/2.svg", alt="" width="80px")
                br

                div.content2Flex
                    div.section1
                        label.label(for="employment_status") Employment status
                        br
                        br
                        p.status #{query.status}
                        select.selectMe3(name="employment_status")
                            option(value="permanent") PERMANENT
                            option(value="temporary") TEMPORARY
                            
                        br
                        br

                      
                        p.dept #{query.department}

                
                        label.label(for="department") Department
                        br
                        br
                        select.selectMe2(name="department")
                            option(value="police") POLICE 
                            option(value="security") SECURITY
                            option(value="essential") ESSENTIAL
                            option(value="special equipment") SPECIAL EQUIPMENT
                            option(value="production") PRODUCTION 
                            option(value="construction") CONSTRUCTION 
                            option(value="management") MANAGEMENT
                        br
                        br
                     
                        label.label(for="section") Section
                        p.sect #{query.section}
                        br
                        br
                      
                        select.selectMe(name="section")
                                
                                option(  disabled)   - ESSENTIAL STAFF - 
                                option(value="office cleaners") OFFICE CLEANERS 
                                option(value="special equipment cleaners") SPECIAL EQUIPMENT CLEANERS
                                option(value="drivers") DRIVERS
                                option(value="nurses") NURSES
                                option(value="cooks") COOKS
                                option(value="secretaries") SECRETARIES
                                

                                option( disabled)   - SPECIAL EQUIPMENT PRODUCTION STAFF - 
                                option(value="tailors") TAILORS
                                option(value="quality control/cutting") QUALITY CONTROL/CUTTING 
                                option(value="maintenance") MAINTENANCE
                                option(value="helmet production") HELMET PRODUCTION 
                                option(value="strike face production") STRIKE FACE PRODUCTION 
                                option(value="cnc machine") CNC MACHINE
                                option(value="dicon special equipment") DICON SPECIAL EQUIPMENT
                                option(value="imperium special equipment") IMPERIUM SPECIAL EQUIPMENT
                                option(value="special equipment admin") SPECIAL EQUIPMENT ADMIN

                                
                                option(  disabled)   - PRODUCTION STAFF - 

                                option(value="welders") WELDERS
                                option(value="mechanics") MECHANICS
                                option(value="auto electrician") AUTO ELECTRICIAN
                                option(value="interior and bulletproof glass department") INTERIOR / BULLETPROOF GLASS DEPARTMENT
                                option(value="turners") TURNERS
                                option(value="vulcanizer") VULCANIZER
                                option(value="research and development") RESEARCH AND DEVELOPMENT
                                option(value="electrical department") ELECTRICAL DEPARTMENT

                                br

                                option(  disabled)  - CONSTRUCTION SITE STAFF -
                                
                                option(value="principal officers and supervisors") PRINCIPAL OFFICERS/SUPERVISORS
                                option(value="store manager") STORE MANAGER
                                option(value="surveyor") SURVEYOR
                                option(value="iron bender") IRON BENDER
                                option(value="mason") MASON
                                option(value="site labourers") SITE LABOURERS
                                option(value="carpenters") CARPENTERS
                                option(value="scafold") SCAFOLD
                                option(value="aluminum dept") ALUMINUM DEPT
                                option(value="site drivers ") SITE DRIVERS 
                                option(value="site welders") SITE WELDERS
                                option(value="plumber") PLUMBER 

                                option( disabled) - DIRECTORS/MANAGEMENT -                            
                                option(value="plumber") DIRECTORS/MANAGEMENT

                        br
                        br
                            
                        label.label(for="job_description") Job Description
                        br
                    
                        textarea(name="text_area", cols="35", rows="1" placeholder=`${query.job_description}` value=`${query.job_description}`)

                      
                        


                    div.section2
                        label.label(for="employment_status") Account Number
                        br
                       
                        input.input(type="text" name="account_number" placeholder=`${query.accountNumber}` value=`${query.accountNumber}`)

                        br
                       

                        label.label(for="Bank Code") Bank Code
                        br
                     
                        input.input(type="number" name="bank_code" placeholder=`${query.bankCode}` value=`${query.bankCode}`)
                        br
                     
                
                        label.label(for="bank_name") Bank Name
                        br
                       
                        input.input(type="text" name="bank_name" placeholder=`${query.bankName}`   value=`${query.bankName}`)
                        br
                             
                        label.label(for="gross_pay") Gross Pay
                        br
                     
                        input.input(type="number" name="gross_pay" placeholder=`${query.grossPay}` value=`${query.grossPay}`)
                        br
                              
                        label.label(for="penalty") Penalty
                        br
                 
                        input.input(type="number" name="penalty" placeholder=`${query.penalty}` value=0)
                        br
                            
                        label.label(for="bonus") Bonus
                        br
                    
                        input.input(type="number" name="bonus" placeholder=`${query.bonus}` value=0)
                
                button.submit update
    script(type='text/javascript', src='/javascripts/effizy.js')




            //- div.content3
            //-     img(src="/images/3.svg", alt="" width="80px")
            //-     br
            //-     label.label(for="upload") Upload
            //-     br
            //-     br
            //-     div.image_container
            //-     img(src="", alt="")
            //-     input.upload_btn(type="file" value="upload" name="upload")
            //-  input.upload_btn(type="button", value="upload")
                
                
            
        

                   
                   